h1  {
  font-size: 36px;
  text-align: center;
}

a {
  color: #1a73e8;
  text-decoration: none;
  padding-left: 75px;
}



section {
  margin: 20px;
color: #333;
  font-family: Arial, sans-serif;
  padding: 40px;
  background-color: #f9f9f9;
}
